.modal-footer,
.modal-header {
    border: none;
}
.spinner-lazy-load {
    width: 500px;
    height: 308px;
}
.cars-form__edit-car-input {
    width: 100%;
}
.cars-form__edit-car-right-side-inputs > .cars-form__edit-car-input > select {
    width: 100%;
    padding: 2px 0 2px 0;
    height: 28px;
}
.cars-form__edit-car-right-side-inputs > .cars-form__edit-car-input > select,
.cars-form__edit-car-right-side-inputs > .cars-form__edit-car-input > input,
.cars-form__edit-car-left-side-inputs > .cars-form__edit-car-input > input {
    border-radius: 4px;
    background-color: #d9dfe1;
    padding: 2px 0 2px 10px;
    outline: none;
}
.cars-form__edit-car-right-side-inputs > .cars-form__edit-car-input > select {
    width: 100%;
    padding: 2px 0 2px 6px;
    height: 28px;
}

.cars-form__edit-car-right-side-inputs
    > .cars-form__edit-car-input
    > input::-webkit-input-placeholder,
.cars-form__edit-car-left-side-inputs
    > .cars-form__edit-car-input
    > input::-webkit-input-placeholder {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.cars-form__edit-car-right-side-inputs
    > .cars-form__edit-car-input
    > input::-moz-placeholder,
.cars-form__edit-car-left-side-inputs
    > .cars-form__edit-car-input
    > input::-moz-placeholder {
    box-shadow: none;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.cars-form__edit-car-right-side-inputs
    > .cars-form__edit-car-input
    > input:-ms-input-placeholder,
.cars-form__edit-car-left-side-inputs
    > .cars-form__edit-car-input
    > input:-ms-input-placeholder {
    box-shadow: none;
    -ms-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.cars-form__edit-car-right-side-inputs
    > .cars-form__edit-car-input
    > input::-ms-input-placeholder,
.cars-form__edit-car-left-side-inputs
    > .cars-form__edit-car-input
    > input::-ms-input-placeholder {
    box-shadow: none;
    -ms-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.cars-form__edit-car-right-side-inputs
    > .cars-form__edit-car-input
    > input::placeholder,
.cars-form__edit-car-left-side-inputs
    > .cars-form__edit-car-input
    > input::placeholder {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.disabled-input {
    color: grey;
}
