.cars-form__content-card-wrapper > div > h6 {
    padding: 4px;
}

.cars-form__content-card-wrapper > div {
    border-bottom: 1px solid black;
}
.cars-form__content-card-wrapper > div:nth-child(1) {
    width: 12.5%;
}
.cars-form__content-card-wrapper > div:nth-child(2) {
    width: 12.5%;
}
.cars-form__content-card-wrapper > div:nth-child(3) {
    width: 18%;
}
.cars-form__content-card-wrapper > div:nth-child(4) {
    width: 12.5%;
}
.cars-form__content-card-wrapper > div:nth-child(5) {
    width: 8%;
}
.cars-form__content-card-wrapper > div:nth-child(6) {
    width: 12.5%;
}
.cars-form__content-card-wrapper > div:nth-child(7) {
    width: 12.5%;
}
.cars-form__content-card-wrapper > div:nth-child(8) {
    width: 12.5%;
}
.cars-form__content-card-wrapper > div:not(:last-child) {
    border-right: 1px solid black;
}
.cars-form__car-list-vin > h6 {
    font-size: 14px;
}
@media (max-width: 1200px) {
    .cars-form__car-list-vin > h6,
    h6 {
        font-size: 14px;
        font-size: 12px;
    }
    .cars-form__content-card-wrapper > div:nth-child(6) {
        width: 8%;
    }
    .cars-form__content-card-wrapper > div:nth-child(4) {
        width: 10%;
    }
    .cars-form__content-card-wrapper > div:nth-child(3) {
        width: 22.5%;
    }
    .cars-form__content-card-wrapper > div:nth-child(2) {
        width: 15%;
    }
}
@media (max-width: 768px) {
    .cars-form__content-card-wrapper > div:nth-child(1) {
        width: 12%;
    }
    .cars-form__content-card-wrapper > div:nth-child(2) {
        width: 10.5%;
    }
    .cars-form__content-card-wrapper > div:nth-child(3) {
        width: 22%;
    }
    .cars-form__content-card-wrapper > div:nth-child(4) {
        width: 12.5%;
    }
    .cars-form__content-card-wrapper > div:nth-child(6) {
        width: 11.5%;
    }
    .cars-form__content-card-wrapper > div:nth-child(7) {
        width: 13.5%;
    }
    .cars-form__content-card-wrapper > div:nth-child(8) {
        width: 12%;
    }
    .cars-form__content-card-wrapper > div:nth-child(3) > h6 {
        font-size: 10px;
    }
    .cars-form__content-card-wrapper > div > div > button,
    .cars-form__content-card-wrapper > div > h6 {
        font-size: 10px;
        padding: 0;
    }
}
@media (max-width: 576px) {
    .cars-form__content-card-wrapper > div:nth-child(1) {
        width: 13%;
    }
    .cars-form__content-card-wrapper > div:nth-child(2) {
        width: 11.5%;
    }
    .cars-form__content-card-wrapper > div:nth-child(3) {
        width: 21%;
    }
    .cars-form__content-card-wrapper > div:nth-child(4) {
        width: 12.5%;
    }
    .cars-form__content-card-wrapper > div:nth-child(6) {
        width: 11.5%;
    }
    .cars-form__content-card-wrapper > div:nth-child(7) {
        width: 13.5%;
    }
    .cars-form__content-card-wrapper > div:nth-child(8) {
        width: 11%;
    }
    .cars-form__content-card-wrapper > div:nth-child(3) > h6 {
        font-size: 7px;
    }

    .cars-form__content-card-wrapper > div > div > button,
    .cars-form__content-card-wrapper > div > h6 {
        font-size: 8px;
        padding: 0;
    }
    .cars-form__content-card-wrapper > div > div > button {
        margin-bottom: 5px;
    }
}
