.dropdown > button,
.dropdown > button:target,
.dropdown > button:focus-visible,
.dropdown > button:focus,
.dropdown > button:active,
.dropdown > button:hover {
    background-color: transparent !important;
    border: none;
    color: black !important;
}
.dropdown-item > button {
    width: 100%;
}
.dropdown-item {
    text-align: center;
    width: 100%;
}
.dropdown-item:hover {
    background-color: transparent;
}
.spinner-dropdown-load {
    width: 160px;
    height: 110px;
}
