/* CSS Reset */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
    background: none;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

button,
input,
optgroup,
select,
textarea {
    resize: none;
}

img,
video,
svg,
canvas,
audio,
iframe,
embed,
object {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

*:focus {
    outline: none;
}

body {
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#00b4db),
        to(#0083b0)
    );
    background-image: -o-linear-gradient(left, #00b4db, #0083b0);
    background-image: linear-gradient(to right, #00b4db, #0083b0);
}
h1 {
    margin: 30px 0 30px 0;
    color: aliceblue;
    opacity: 0;
    -webkit-animation: fadeInMainTitle 2s ease-in-out forwards;
    animation: fadeInMainTitle 2s ease-in-out forwards;
}
@-webkit-keyframes fadeInMainTitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInMainTitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.App {
    text-align: center;
}

@-webkit-keyframes fadeInMainWrapper {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInMainWrapper {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.cars-form__main-wrapper {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    max-width: 1440px;
    width: 96%;
    min-height: 100%;
    background-color: #faf9f6;
    margin: 10px auto;
    padding: 0 30px 30px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0;
    -webkit-animation: fadeInMainWrapper 1s ease-in-out forwards;
    animation: fadeInMainWrapper 1s ease-in-out forwards;
}
.Toastify__toast {
    border-radius: 8px;
}
.Toastify__close-button {
    display: none;
}
.page-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media (max-width: 1200px) {
    h4 {
        font-size: 18px;
    }
    h6 {
        font-size: 14px;
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    h4 {
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    h1 {
        margin: 15px 0 15px 0;
    }
    .cars-form__main-wrapper {
        width: 98.75%;
        padding: 0 5px 5px;
    }
    .cars-form__main-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
